nav{
    background: rgba(2, 2, 104, 1);
    width: max-content;
    display: block;
    padding: 0.6rem 1.7rem;
    z-index: 2;
    left: 50%;
    bottom: 2rem;
    transform: translate(-50%);
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    border-radius: 3rem;
    position: fixed;
    backdrop-filter: blur(15px);
}
nav a {
    background: transparent;
    padding: 0.4rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a :hover{
    background: rgba(250, 242, 242, 0.1);
    padding: -4rem;
    border-radius: 50%;

}

.active{
  background: red;
  padding: 4px;
}